<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Billboards', billboards_path %>
  <%= button_to 'Log Out', destroy_user_session_path, method: :delete%>
</nav>

<h1>Top Billboards</h1>
<%= link_to 'Create a New Billboard', new_billboard_path %>

<ul>
  <% @billboards.each do |billboard| %>
    <li>
      <%= link_to billboard.name, billboard %>
    </li>
  <% end %>
</ul>